<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta data and title -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forgot your password? No worries! Just enter your email and we will send you a link to reset your password.">
    <title id="pageTitle">ElMawso3a - Forgot Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forgotPassword.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

</head>
<body class="cl">
<div class="login-container">
        <nav>
            <a href="{% url 'index' %}"><img src="{% static 'image/ElMawso3a3.png' %}" alt="ElMaswso3a Logo" class="header_img2"></a>
        </nav>
    <div>
        <div>
            <form method="post">
                <h2 id="forgotPasswordTitle">Reset Your Password</h2>

                <div class="login-input">
                    {% csrf_token %}
                    {{ form }}
                </div>  
                
                
                <input type="Submit" name="Update Password" value="Sumbit"></input>

            </form>
        </div>
    </div>
</body>
</html>
