{% extends 'base.html' %}

{% block title %}Terms of Service - ElMaswso3a{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/termsofservicesStyle.css' %}">

<div class="cl">
    <h1 class="termsofservicesmainHeader">Terms of Service</h1>
    <div class="terms-of-service">
                <h2 class="termsofservicesHeaders">Acceptance of Terms</h2>
                <p>By using this online library website, you agree to abide by these Terms of Service.</p>
                
                <h2 class="termsofservicesHeaders">Use of Content</h2>
                <p>All content provided on this website, including books, novels, and other materials, is for personal and educational purposes only. You may not modify, distribute, or reproduce any content without prior consent.</p>
                
                <h2 class="termsofservicesHeaders">User Conduct</h2>
                <p class="termsofservicesP">When using this online library, you agree not to engage in any conduct that may disrupt the website's operation, infringe upon the rights of others, or violate any applicable laws or regulations.</p>

                <h2 class="termsofservicesHeaders">Disclaimer of Warranties</h2>
                <p class="termsofservicesP">This online library is provided "as is" without any warranties, express or implied. We do not guarantee the accuracy, completeness, or reliability of any content available on the website.</p>
                
                <h2 class="termsofservicesHeaders">Limitation of Liability</h2>
                <p class="termsofservicesP">We shall not be liable for any damages arising out of the use or inability to use this online library, including but not limited to direct, indirect, incidental, or consequential damages.</p>
                
                <h2 class="termsofservicesHeaders">Indemnification</h2>
                <p class="termsofservicesP">You agree to indemnify and hold harmless this online library and its affiliates, officers, employees, and agents from any claims, liabilities, damages, or expenses arising out of your use of the website.</p>
                
                <h2 class="termsofservicesHeaders">Changes to Terms</h2>
                <p class="termsofservicesP">We reserve the right to update or modify these Terms of Service at any time without prior notice. Your continued use of the online library constitutes acceptance of the updated terms.</p>
                
                <h2 class="termsofservicesHeaders">Contact Us</h2>
                <p class="termsofservicesP">If you have any questions about our Terms of Service or need assistance, please contact us at </p>
                <a class="termsofserviceslink" href="mailto:omertarek131@gmail.com">contact@ElMaswso3a.org</a>
            </div>
        </div>
        
{% endblock %}
