.login-container {
    max-width: 380px;
    margin: 160px auto;
    background-color: #AFD3E2;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding-bottom: 75px;
}

.login-input {
    margin-bottom: 20px;
}

.login-input label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-input input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.Sign-In {
    font-size: 17px;
    color: #007bff;
    margin-left: 320px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: absolute;
    margin-top: 10px;
}

button[type="button"] {
    background-color: #0091ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button[type="button"]:hover {
    background-color: #0056b3;
}

input[type="submit"] {
    background-color: #0091ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    margin-top: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.header_img2 {
    width: 180px;
    height: 60px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cl {
    background-color: #19A7CE;
}
