<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About Us - ElMaswso3a</title>
        <link rel="stylesheet" href="../Statics/aboutusStyle.css">
        <link rel="stylesheet" href="../Statics/footer.css">
        <link rel="stylesheet" href="../Statics/header.css">
    </head>
    <body>
        <div>
            <header class="header">
                <nav>
                    <a href="index.html" class="header_text"><img src="../designs/ElMawso3a2.png" alt="ElMaswso3a Logo"
                        class ="header_img">
                    </a>
                    | <a href="feedback.html" class="header_text">Feedback</a> | <a href="cart.html" class ="header_text">Cart</a> |
                    <a href="profile.html" class="header_text">Profile</a> | <a href="login.html" class="header_text">Login/Register</a>
                </nav>
            </header>
            <div class="cl">
            <div class="about-us">
                <div class="aboutus-image-container">
                    <img src="../designs/libarary-banner1.jpg" alt="library banner">
                    <div class="aboutusText">
                        <h1 class="aboutusMainHeader">About Us</h1>
                        <p class="aboutusP">Welcome to ElMaswso3a! We are dedicated to providing a vast collection of books, articles, and resources for our readers. <br>
                            Whether you're a student, researcher, or simply an avid reader, you'll find a wide range of materials to explore. <br>
                            Our mission is to promote knowledge, learning, and intellectual growth. Start your reading journey with us today!</p>                        
                    </div>
                </div>
            </div>
            </div>
            <footer class="footer">
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
        </div>
    </body>
</html>