<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Admin dashboard for managing the library.">
        <title>Admin Dashboard - ElMaswso3a</title>
    </head>
    <body>
        <div>
            <header>
                <nav>
                    <a href="index.html"><img src="../designs/ElMawso3a.png" alt="ElMaswso3a Logo" height="60px" width="180px"></a>
                    | <a href="feedback.html">Feedback</a> | <a href="cart.html">Cart</a> |
                    <a href="profile.html">Profile</a> | <a href="login.html">Login/Register</a>
                </nav>
            </header>
            <section>
                <h1>Admin Dashboard</h1>
                <p>Welcome, Admin! You have access to the following features:</p>
                <ul>
                    <li><button>View all books in the library</button></li>
                    <li><button> Add new books to the library</button></li>
                    <li><button>Update existing books in the library</button></li>
                    <li><button>Delete books from the library</button></li>
                </ul>
            </section>
            <footer>
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                    href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
        </div>
    </body>
</html>