<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Register as an admin to access the admin dashboard.">
        <title>Admin Register - ElMaswso3a</title>
    </head>
    <body>
        <div>
            <header>
                <nav>
                    <a href="index.html"><img src="../designs/ElMawso3a.png" alt="ElMaswso3a Logo" height="60px" width="180px"></a>
                    | <a href="feedback.html">Feedback</a> | <a href="cart.html">Cart</a> |
                    <a href="profile.html">Profile</a> | <a href="login.html">Login/Register</a>
                </nav>
            </header>
            <div>
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    <h3 id="adminRegisterTitle">Admin Register</h3>
                    
                    <input type="text" name="username" id="username" placeholder="Username" autofocus="1" aria-label="Username">
                    
                    <input type="email" name="email" id="email" placeholder="Email" aria-label="Email">
                    
                    <input type="password" name="password" id="password" placeholder="Password" aria-label="Password">
                    
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" aria-label="Confirm Password">

                    <input type="text" name="adminCode" id="adminCode" placeholder="Admin Code" aria-label="Admin Code">

                    <a href="login.html" id="loginLink">Already have an account?</a>
                    
                    <button type="submit" id="adminRegisterButton">Register</button>
                </form>
            </div>
            <footer>
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                    href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
        </div>
    </body>
</html>