<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Books available in the library.">
        <title>Books - ElMaswso3a</title>
        <link rel="stylesheet" href="../Statics/books.css">
        <link rel="stylesheet" href="../Statics/header.css">
        <link rel="stylesheet" href="../Statics/footer.css">
    </head>
    <body>
        <div class="cl">
            <header class="header">
                <nav>
                    <a href="index.html"><img src="../designs/ElMawso3a2.png" alt="ElMaswso3a Logo" height="60px" width="180px"></a>
                    | <a href="feedback.html">Feedback</a> | <a href="cart.html">Cart</a> |
                    <a href="profile.html">Profile</a> | <a href="login.html">Login/Register</a>
                </nav>
            </header>
            <section>
                <h1>Books</h1>
                <p>Explore our collection of books:</p>
                <ul>
                    <li><a href="book1.html"><img src="https://m.media-amazon.com/images/I/71jDLpPMdFS._SL1500_.jpg" alt="Book"></a></li>
                    <li><a href="book2.html"><img src="https://m.media-amazon.com/images/I/91JAIKQUkYL._SL1500_.jpg" alt="Book"></a></li>
                    <li><a href="book3.html"><img src="https://m.media-amazon.com/images/I/71VksxQMBUL._SL1500_.jpg" alt="Book"></a></li>
                    <li><a href="book4.html"><img src="https://m.media-amazon.com/images/I/61gEAEIScTL._SL1500_.jpg" alt="Book"></a></li>
                    <li><a href="book5.html"><img src="https://m.media-amazon.com/images/I/610Qx0qwU6L._SL1500_.jpg" alt="Book"></a></li>
                    <li><a href="book6.html"><img src="https://m.media-amazon.com/images/I/814tiZSyiYL._SL1500_.jpg" alt="Book"></a></li>
                    <li><a href="book7.html"><img src="https://m.media-amazon.com/images/I/81YkqyaFVEL._SL1500_.jpg" alt="Book"></a></li>
                    <li><a href="book8.html"><img src="https://m.media-amazon.com/images/I/61CIKpN5QjL._SL1200_.jpg" alt="Book"></a></li>
                </ul>
            </section>
            <footer class="footer">
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                    href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
        </div>
    </body>
</html>