<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Books available in the library.">
        <title>Books - ElMaswso3a</title>
    </head>
    <body>
        <div>
            <header>
                <nav>
                    <a href="index.html"><img src="../designs/ElMawso3a.png" alt="ElMaswso3a Logo" height="60px" width="180px"></a>
                    | <a href="feedback.html">Feedback</a> | <a href="cart.html">Cart</a> |
                    <a href="profile.html">Profile</a> | <a href="login.html">Login/Register</a>
                </nav>
            </header>
            <section>
                <h1>Books</h1>
                <p>Explore our collection of books:</p>
                <ul>
                    <li><a href="book1.html">Book 1</a></li>
                    <li><a href="book2.html">Book 2</a></li>
                    <li><a href="book3.html">Book 3</a></li>
                    <li><a href="book4.html">Book 4</a></li>
                    <li><a href="book5.html">Book 5</a></li>
                    <li><a href="book6.html">Book 6</a></li>
                    <li><a href="book7.html">Book 7</a></li>
                    <li><a href="book8.html">Book 8</a></li>
                </ul>
            </section>
            <footer>
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                    href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
        </div>
    </body>
</html>