<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Add to your cart to borrow or buy books or novels.">
    <title>Cart - ElMaswso3a</title>
    <link rel="stylesheet" href="../Statics/header.css">
    <link rel="stylesheet" href="../Statics/footer.css">
    <link rel="stylesheet" href="../Statics/cart.css">

</head>
<body class="cl">
<div>
    <header class="header">
        <nav>
            <a href="index.html" class="header_text"><img src="../designs/ElMawso3a2.png" alt="ElMaswso3a Logo"
                class ="header_img">
            </a>
            | <a href="feedback.html" class="header_text">Feedback</a> | <a href="cart.html" class ="header_text">Cart</a> |
            <a href="profile.html" class="header_text">Profile</a> | <a href="login.html" class="header_text">Login/Register</a>
        </nav>
    </header>
    <section>
        <h1 class="head_title">Your Cart</h1>
        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <!-- Placeholder for cart items -->
            </tbody>
        </table>
    </section>
    <footer class="footer">
        <p>&copy; ElMaswso3a</p>
        <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
            href="termsofservices.html">Terms of Service</a> |
        <a href="aboutus.html">About Us</a>
    </footer>
</div>
</body>
</html>
