<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us - ElMaswso3a</title>
</head>

<body>
    <div>
        <header>
            <nav>
                <a href="index.html"><img src="../designs/ElMawso3a.png" alt="ElMaswso3a Logo" height="60px" width="180px"></a>
                | <a href="feedback.html">Feedback</a> | <a href="cart.html">Cart</a> |
                <a href="profile.html">Profile</a> | <a href="login.html">Login/Register</a>
            </nav>
        </header>
            <h1>Need help?</h1>
        <br>
        <br>
            <h2><a href="mailto:omertarek131@gmail.com">Send problem via email</a></h2>
            <footer>
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                    href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
    </div>

</body>

</html>