<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Feedback - ElMaswso3a</title>
</head>

<body>
    <div>
        <div>
            <header>
                <nav>
                    <a href="index.html"><img src="../designs/ElMawso3a.png" alt="ElMaswso3a Logo" height="60px" width="180px"></a>
                    | <a href="feedback.html">Feedback</a> | <a href="cart.html">Cart</a> |
                    <a href="profile.html">Profile</a> | <a href="login.html">Login/Register</a>
                </nav>
            </header>
            <h1>Feedback</h1>
        <div class="feedback-container">
            <form method="post">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="feedback">Feedback:</label>
                    <textarea id="feedback" name="feedback" placeholder="Write your feedback here..."></textarea>
                </div>
                <div>
                    <input type="submit" value="send">
                </div>
            </form>
        </div>
        <footer>
            <br>
            <p>&copy; ElMaswso3a</p>
            <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                href="termsofservices.html">Terms of Service</a> |
            <a href="aboutus.html">About Us</a>
        </footer>
    </div>
</body>

</html>