<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="ElMaswso3a is a platform that provides a vast collection of books, novels, and resources for our readers.">
        <title id="pageTitle">ElMawso3a - Home</title>
    </head>
    <body>
        <div>
            <header>
                <nav>
                    <a href="index.html"><img src="../designs/ElMawso3a.png" alt="ElMaswso3a Logo" height="60px" width="180px"></a>
                    | <a href="feedback.html">Feedback</a> | <a href="cart.html">Cart</a> |
                    <a href="profile.html">Profile</a> | <a href="login.html">Login/Register</a>
                </nav>
            </header>
            <section>
                <h1>Welcome to ElMaswso3a!</h1>
                <p>ElMaswso3a is a platform that provides a vast collection of books, novels, and resources for our readers. Whether you're a student, researcher, or simply an avid reader, you'll find a wide range of materials to explore. Our mission is to promote knowledge, learning, and intellectual growth. Start your reading journey with us today!</p>
            </section>
            <section>
                <div>
                    <input type="text" id="search" placeholder="Search for books, novels, authors..."> 
                    <select title="select" id="search" placeholder="Search for books, novels, authors...">
                        <option value="books">Books</option>
                        <option value="novels">Novels</option>
                        <option value="authors">Authors</option>
                    </select>
                </div>
                <h2>Featured Books</h2>
                <div>
                    <a href=""><img src="https://m.media-amazon.com/images/I/814tiZSyiYL._SL1500_.jpg" alt="The Hunter"
                            style="height: 150px; width: 150px;"></a>
                    <li><a href=""><img src="https://m.media-amazon.com/images/I/610Qx0qwU6L._SL1500_.jpg" alt="Close to Death: A Novel"
                                style="height: 150px; width: 150px;"></a></li>
                    <li><a href=""><img src="https://m.media-amazon.com/images/I/71VksxQMBUL._SL1500_.jpg" alt="Magpie Murders: A Novel"
                                style="height: 150px; width: 150px;"></a></li>
                </div>
            </section>
            <aside>
                <h2>Categories</h2>
                <ul>
                    <li><a href="books.html">Books</a> <ol> <br>
                        <li><a href=""><img src="https://m.media-amazon.com/images/I/71jDLpPMdFS._SL1500_.jpg" alt="The Bitcoin Standard: The Decentralized Alternative to Central Banking" style="height: 150px; width: 150px;"></a></li>
                        <li><a href=""><img src="https://m.media-amazon.com/images/I/61gEAEIScTL._SL1500_.jpg" alt="Hijacking Bitcoin: The Hidden History of BTC" style="height: 150px; width: 150px;"></a></li>
                        <li><a href=""><img src="https://m.media-amazon.com/images/I/91JAIKQUkYL._SL1500_.jpg" alt="
Designing Data-Intensive Applications: The Big Ideas Behind Reliable, Scalable, and Maintainable Systems" style="height: 150px; width: 150px;"></a></li>
                    </ol></li> <br>
                    <li><a href="novels.html">Novels</a> <ol> <br>
                        <li><a href=""><img src="https://m.media-amazon.com/images/I/71bSVuBd7IL._SL1500_.jpg" alt="In Five Years: A Novel"
                                    style="height: 150px; width: 150px;"></a></li>
                        <li><a href=""><img src="https://m.media-amazon.com/images/I/81FGbR7AYqL._SL1500_.jpg" alt="Flicker in the Dark"
                                    style="height: 150px; width: 150px;"></a></li>
                        <li><a href=""><img src="https://m.media-amazon.com/images/I/81RBTG28sCL._SL1500_.jpg" alt="All the Light We Cannot See: A Novel"
                                    style="height: 150px; width: 150px;"></a></li>
                    </ol></li> <br>
                </ul>
            <footer>
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
        </div>
    </body>
</html>