<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="ElMaswso3a is a platform that provides a vast collection of books, novels, and resources for our readers.">
    <title id="pageTitle">ElMawso3a - Home</title>
    <link rel="stylesheet" href="../Statics/Home.css">
    <link rel="stylesheet" href="../Statics/header.css">
    <link rel="stylesheet" href="../Statics/footer.css">
    <script src="../Javascripts/header.js"></script>
</head>

<body class="cl">
    <div>
        <header class="header" id="header">
            <nav class="navbar" id="navbar">
                <a href="index.html" class="header_img"><img src="../designs/ElMawso3a2.png" alt="ElMaswso3a Logo"></a>
                | <a href="feedback.html" class="header_text">Feedback</a> | <a href="cart.html" class="header_text">Cart</a> |
                <a href="profile.html" class="header_text">Profile</a> | <a href="login.html"
                    class="header_text">Login/Register</a> <a href="admin.html" id="header_adminbf">Admin Dashboard</a>
            </nav>
        </header>
        <section class="main">
            <h1>Welcome to ElMaswso3a!</h1>
            <p>ElMaswso3a is a platform that provides a vast collection of books, novels, and resources for our readers.
                Whether you're a student, researcher, or simply an avid reader, you'll find a wide range of materials to
                explore. Our mission is to promote knowledge, learning, and intellectual growth. Start your reading
                journey with us today!</p>
                <br>
        </section>
        <section>
            <div>
                <input type="text" id="search2" placeholder="Search for books, novels, authors...">
                <select title="select" id="search3" placeholder="Search for books, novels, authors...">
                    <option value="books">Books</option>
                    <option value="novels">Novels</option>
                    <option value="authors">Authors</option>
                </select>
            </div>
        </section>
        <section>
            <h2>Featured Books</h2>
        </section>
        <section class="featured-books">
            <div class="scroll-container">
                <a href=""><img src="https://m.media-amazon.com/images/I/71jDLpPMdFS._SL1500_.jpg"
                        alt="The Bitcoin Standard: The Decentralized Alternative to Central Banking"></a>
                <a href=""><img src="https://m.media-amazon.com/images/I/61gEAEIScTL._SL1500_.jpg"
                        alt="Hijacking Bitcoin: The Hidden History of BTC"></a>
                <a href=""><img src="https://m.media-amazon.com/images/I/91JAIKQUkYL._SL1500_.jpg"
                        alt="Designing Data-Intensive Applications: The Big Ideas Behind Reliable, Scalable, and Maintainable Systems"></a>
                        <a href=""><img src="https://m.media-amazon.com/images/I/814tiZSyiYL._SL1500_.jpg" alt="The Hunter"></a>
                <a href=""><img src="https://m.media-amazon.com/images/I/610Qx0qwU6L._SL1500_.jpg"
                        alt="Close to Death: A Novel"></a>
                <a href=""><img src="https://m.media-amazon.com/images/I/71VksxQMBUL._SL1500_.jpg"
                        alt="Magpie Murders: A Novel"></a>
                <a href=""><img src="https://m.media-amazon.com/images/I/81YkqyaFVEL._SL1500_.jpg"
                        alt="Atomic Habits"></a>
                <a href=""><img src="https://m.media-amazon.com/images/I/61CIKpN5QjL._SL1200_.jpg"
                        alt="Think and grow Rich"></a>
            </div>
        </section>
            <footer id="footer" class="footer">
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                    href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
        </div>
    </body>
</html>
