<!DOCTYPE html>
<html lang="en" id="onlineLibrary">
<head>

    <!-- Meta data and title -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login to ElMaswso3a to check the latest books and maybe find a book that interests you!">
    <title id="pageTitle">ElMawso3a - Login</title>
    <link rel="stylesheet" href="../Statics/login.css">
    <link rel="stylesheet" href="../Statics/header.css">
    <script src="../Javascripts/login.js"></script>

</head>
<body class="cl">
<div class="login-container">
        <div class="WebImg">
            <nav>
                <a href="index.html"><img src="../designs/ElMawso3a3.png" alt="ElMaswso3a Logo" class="header_img2"></a>
            </nav>
        </div>
    <div>
        <div>
            <form action="" method="post" enctype="multipart/form-data">
                <h2 id="loginTitle">Login</h2>

                <div class="login-input">
                    <label for="user">Username</label>
                    <input type="text" name="username" id="user" placeholder="Enter Your Username" autofocus="1" aria-label="Username" required>
                </div>

                <div class="login-input">
                    <label for="pass">Password</label>
                    <input type="password" name="password" id="pass" placeholder="Enter Your Password" autofocus="1" aria-label="Password" required>
                </div>

                <button type="button" onclick="saveData()" id="loginButton">Log in</button>

                <a href="forgotPassword.html" id="forgotPasswordLink" class="forgot-Password">Forgot your password?</a>
            </form>
            <p>Don't Have An Account? <a href="register.html" id="registerLink" class="New-Acc">Sign Up</a></p>
        </div>
    </div>
</body>
</html>