<!DOCTYPE html>
<html lang="en" id="onlineLibrary">
    <head>

        <!-- Meta data and title -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login to ElMaswso3a to check the latest books and maybe find a book that interests you!">
        <title id="pageTitle">ElMawso3a - Login</title>

    </head>
    <body>
        <div>
            <header>
                <nav>
                    <a href="index.html">Home</a> | <a href="login.html">Login/Register</a>
                </nav>
            </header>
            <div>
                <img src="../designs/ElMawso3a.png" alt="ElMaswso3a">
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    <h3 id="loginTitle">Login</h3>
                    
                    <input type="text" name="username" id="user" placeholder="Username" autofocus="1" aria-label="Username">
                    
                    <input type="password" name="password" id="pass" placeholder="Password" autofocus="1" aria-label="Password">
                    
                    <a href="register.html" id="registerLink">Create new account</a>
                    
                    <a href="forgotPassword.html" id="forgotPasswordLink">Forgot your password?</a>
                    
                    <button type="submit" id="loginButton">Log in</button>
                </form>
            </div>
            <footer>
                <br>
                <p>&copy; 2024 - All rights reserved</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                    href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
        </div>
    </body>
</html>