<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Novels available in the library.">
        <title>Novels - ElMaswso3a</title>
    </head>
    <body>
        <div>
            <header>
                <nav>
                    <a href="index.html"><img src="../designs/ElMawso3a.png" alt="ElMaswso3a Logo" height="60px" width="180px"></a>
                    | <a href="feedback.html">Feedback</a> | <a href="cart.html">Cart</a> |
                    <a href="profile.html">Profile</a> | <a href="login.html">Login/Register</a>
                </nav>
            </header>
            <section>
                <h1>Novels</h1>
                <p>Explore our collection of novels:</p>
                <ul>
                    <li><a href="novel1.html">Novel 1</a></li>
                    <li><a href="novel2.html">Novel 2</a></li>
                    <li><a href="novel3.html">Novel 3</a></li>
                    <li><a href="novel4.html">Novel 4</a></li>
                    <li><a href="novel5.html">Novel 5</a></li>
                    <li><a href="novel6.html">Novel 6</a></li>
                    <li><a href="novel7.html">Novel 7</a></li>
                    <li><a href="novel8.html">Novel 8</a></li>
                </ul>
            </section>
            <footer>
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                    href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
        </div>
    </body>
</html>