<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy Policy - ElMaswso3a</title>
</head>

<body>
    <div>
        <header>
            <nav>
                <a href="index.html">Home</a> | <a href="login.html">Login/Register</a>
            </nav>
        </header>
        <h1>Privacy Policy</h1>

        <div class="privacy-policy">
            <h2>Information We Collect</h2>
            <p>We collect information such as your name, email address, and browsing activity when you visit our website.
            </p>

            <h2>How We Use Your Information</h2>
            <p>We use the information we collect to improve our website, personalize your experience, and communicate with
                you.</p>

            <h2>Information Sharing</h2>
            <p>We do not share your personal information with third parties unless required by law.</p>

            <h2>Security</h2>
            <p>We take reasonable measures to protect your personal information from unauthorized access or disclosure.</p>

            <h2>Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. Any changes will be posted on this page.</p>

            <h2>Contact Us</h2>
            <p>If you have any questions about our Privacy Policy, please contact us <a href="mailto:omertarek131
    @gmail.com">Here</a>.</p>
        </div>
        <footer>
            <br>
            <p>&copy; 2024 - All rights reserved</p>
            <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                href="termsofservices.html">Terms of Service</a> |
            <a href="aboutus.html">About Us</a>
        </footer>
    </div>
</body>

</html>