<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Edit your profile">
        <title id="pageTitle">ElMawso3a - Profile</title>
    </head>
    <link rel="stylesheet" href="../Statics/header.css">
    <link rel="stylesheet" href="../Statics/footer.css">
    <link rel="stylesheet" href="../Statics/profile.css">
    <script src="../Javascripts/profile.js"></script>
    <body class="cl">
        <div>
            <header class="header" id="header">
                <nav class="navbar" id="navbar">
                    <a href="index.html" class="header_img"><img src="../designs/ElMawso3a2.png" alt="ElMaswso3a Logo"></a>
                    | <a href="feedback.html" class="header_text">Feedback</a> | <a href="cart.html" class="header_text">Cart</a> |
                    <a href="profile.html" class="header_text">Profile</a> | <a href="login.html"
                        class="header_text">Login/Register</a> <a href="admin.html" id="header_adminbf">Admin Dashboard</a>
                </nav>
            </header>
            <div class="profile">
            <h2>User Profile</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>No. of Borrowed Books</th>
                        <th><a href="borrowedbooks.html" class="button">View Borrowed Books</a></th>
                    </tr>
                </thead>
            </table>
            </div>
            <footer class="footer">
                <br>
                <p>&copy; ElMaswso3a</p>
                <a href="contactus.html">Contact Us</a> | <a href="privacypolicy.html">Privacy Policy</a> | <a
                    href="termsofservices.html">Terms of Service</a> |
                <a href="aboutus.html">About Us</a>
            </footer>
        </div>
    </body>
</html>