<!DOCTYPE html>
<html>
    <head>
        
        <!-- Meta data and title -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Register to ElMaswso3a to check the latest books and maybe find a book that interests you!">
        <title id="pageTitle">ElMawso3a - Register</title>
    
    </head>
    <body>
        <div>
            <div>
                <img src="../designs/ElMawso3a.png" alt="ElMaswso3a">
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    <h3 id="registerTitle">Register</h3>
                    
                    <input type="text" name="username" id="user" placeholder="Username" autofocus="1" aria-label="Username">
                    
                    <input type="email" name="email" id="email" placeholder="Email" autofocus="1" aria-label="Email">
                    
                    <input type="password" name="password" id="pass" placeholder="Password" autofocus="1" aria-label="Password">
                    
                    <input type="password" name="confirmPassword" id="confirmPass" placeholder="Confirm Password" autofocus="1" aria-label="Confirm Password">
                    
                    <a href="login.html" id="loginLink">Already have an account?</a>
                    
                    <button id="registerButton">Register</button>
                </form>
            </div>
        </div>
    </body>
</html>