section {
    margin: 100px 50px 50px;

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 390px;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #AFD3E2;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.head_title {
    text-align: center;
    font-size: 30px;
    color: #146C94;
}
.cart-button{

        background-color: #19A7CE; 
        color: white;
        padding: 10px 10px; 
        border: none; 
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s ease;


}

.cart-button:hover {
    background-color: #146C94;
}

.borrow-button{
    position: absolute;
    right: 60px;
}
#cart-list{
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.clear-button, .remove-button{
    background-color: red;
}