body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#contactusMainHeader{
    margin-left: 30px;
    font-size:50px;
}
.contactusP{
    margin-left: 30px;
}
#contactusLink{
    margin-left: 30px;
    text-decoration: none;
}
#contactusLink:link{
    color: #146C94;
    font-size: 30px;
}
#contactusLink:visited{
    color: grey;
}
#contactusLink:hover{
    color: tomato;
}
#contactusLink:active{
    color: yellow;
}


.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    margin-top: 63px;
    width: 100%;
    height: 500px;
    margin-bottom: -10%;
    padding-bottom: 10%;
}

.contactusText{
    position: absolute;
    top: 50%;
    left:35%;
    transform: translate(-50%, -50%);
    color: white;
}

.cl {
    background-color: #F6F1F1;
}